# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Various binary names
./lexer

# Auto-gen'd files
tt.hpp

# Old files
*.h_
*.cpp_
